body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d6db;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.top-bar {
    background-color: #003366;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    top: 0;
    position: fixed;
}

.top-bar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: aliceblue;
    margin-left: 20px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons .icon {
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.notifications {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.bell-checkbox:checked + label + .notifications {
    display: block;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 840px;
    padding: 100px 20px 20px;
}

button.card {
    all: unset;
    cursor: pointer;
    width: 400px;
    height: 300px;
    background-color: #a6b1c4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    position: relative;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.card:hover {
    scale: 1.05;
}

.list-preview {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px; 
    text-align: center;
}

.add-new {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: auto;
    align-self: center;
}

.add-new:hover {
    background-color: #0056b3;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer .arrow {
    font-size: 24px;
    color: black;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.popup-content {
    background-color: #a6b1c4;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 70%;
    border-radius: 20px;
    position: relative;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.list-container {
    display: none;
    margin-top: 10px;
}

.list-btn {
    background-color: #a6b1c4;
    border: none;
    font-size: 100%;
    border-bottom: 2px solid grey;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.list-btn:hover {
    cursor: pointer;
}

.active-button {
    border-bottom: 2px solid #003366;
}

#Skjema1 {
    text-decoration: none;
    color: #fff;
}

#Skjema1:visited, :after {
    text-decoration: none;
    color: #fff;
} 
#Skjema2 {
    text-decoration: none;
    color: #fff;
}

#Skjema2:visited, :after {
    text-decoration: none;
    color: #fff;
} 

#Skjema3 {
    text-decoration: none;
    color: #fff;
}

#Skjema3:visited, :after {
    text-decoration: none;
    color: #fff;
} 

#Skjema4 {
    text-decoration: none;
    color: #fff;
}

#Skjema4:visited, :after {
    text-decoration: none;
    color: #fff;
} 


.leggtil {
    background-color: #003366;
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 150%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.leggtil:after:visited {
    background-color: #003366;
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 150%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.nyttForhold {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px; 
    text-align: center;
    width: 100%;
    height: 30px;
    padding-top: 10px;
}

#nyttForhold-btn {
    border-radius: 10px;
    margin-bottom: 10px; 
    text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
    padding-top: 10px;
}

#nyttForhold-btn::after, :visited {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}
